parameters:
  level: 5

  paths:
    - app
    - config
    - database
    - routes
  excludePaths:
    - vendor
    - storage
    - bootstrap/cache
  ignoreErrors:
    - '#Undefined variable: \$this#'
    - '#Method .* should return Illuminate\\View\\View but returns Illuminate\\Contracts\\View\\View#'
  earlyTerminatingMethodCalls:
    App\Http\Controllers\Controller:
      - abort
      - redirect
  treatPhpDocTypesAsCertain: false
